Flask==3.0.0
PyPDF2==3.0.1
pdfplumber==0.11.0
Werkzeug==3.0.1
PyMuPDF==1.23.8
Pillow==10.3.0
google-generativeai==0.3.2
openpyxl==3.1.2
pytesseract==0.3.10
pdf2image==1.16.3
reportlab==4.0.7
pypdf==3.17.4
img2pdf==0.5.1
python-docx==1.1.0
xlsxwriter==3.1.9
pikepdf==8.10.1
cairosvg==2.7.1
